{% extends "base_generic.html" %}

{% block title %}
      <title>Book list</title>
{% endblock %}

{% block content %}
  <h1>Book List</h1>
  {% if book_list %}
    <ul>
      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        (<a href="{{ book.author.get_absolute_url }}">{{ book.author }} </a>)
      </li>
      <li>
        <!-- Test for the last item -->
        <!-- With pagination, this will be the last item in every page. -->
        {# if forloop.last #}
        <!-- The End of the book list -->
        {# endif #}
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}
