{% extends "base_generic.html" %}

{% block title %}
      <title>Delete book</title>
{% endblock %}

{% block content %}

<h1>Delete Book: {{ book }}</h1>

{% if book.bookinstance_set.all %}

<p>You can't delete this book until all their copies have been deleted:</p>
<ul>
  {% for inst in book.bookinstance_set.all %}
    <li><a href="{% url 'book-detail' inst.book_id %}">
        {{inst}}</a> 
  {% endfor %}
</ul>

{% else %}
<p>Are you sure you want to delete the author?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete.">
</form>
{% endif %}

{% endblock %}
