{% extends "base_generic.html" %}

{% block content %}
  <h1>Renew: {{ book_instance.book.title }}</h1>
  <p>Borrower: {{ book_instance.borrower }}</p>
  <p {% if book_instance.is_overdue %} class="text-danger"{% endif %} >
    Due date: {{ book_instance.due_back }}
  </p>

  <form action="" method="post">
    {% csrf_token %}
    <table>
    <!--The form can also be rendered as:-->
    <!--{{ form.as_ul }}-->
     <!--{{ form.as_p }}-->
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>

  <p>My rendering using the template context. This can be used to 
     finetuned the information of the form if needed.
  </p>
  <ul>
    <li>The whole date field: {{ form.renewal_date.value }}</li>
    <li>The list of errors: {{ form.renewal_data.errors }}</li>
    <li>The id of the label: {{ form.renewal_date.id_for_label }}</li>
    <li>The field help text: {{ form.renewal_date.help_text }}</li>
  </ul>
{% endblock %}
