<!--Template tags functions-->
{% extends "base_generic.html" %}

  {% block title %}
  <title>{{ title_of_page }}</title>
  <h1>{{ title_of_page }}</h1>
  {% endblock %}

  <p>
    Welcome to LocalLibrary, a website developed by
    <em>Badger Underground with guidance from the Master </em>
    <em>Mozilla Developer Network</em>!
  </p>

  {% block content %}
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <!--Template variables placeholders-->
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genre:</strong> {{ num_genre }}</li>
    <li><strong>Books of the month:</strong>
      <ul>
        <li>{{ featured_books }}</li>
      </ul>
    </li>
  </ul>
  <!--Session cookie-->
  <p>You have visited this page {{ num_visits }} time{{num_visits|pluralize }}.</p>

  <p>
    <h4>Surprises:</h4>
    You will have a surprise <strong>{{ name_prize }}</strong>.
    <br>
    Keep visiting our Local Library at The End of The River.
    <br>
    Additional surprise: {{ prizes|random }}.
  </p>
{% endblock %}
